/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

button,
.btn {
  background: none;
  margin-top: 1rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

svg {
  width: 32px;
  height: 32px;
  background-color: none;
}

::-webkit-scrollbar {
  width: 0;
}
